body {
    text-align: center
}


/*COVER PAGE*/

#Home {

    background-image: url("https://img.freepik.com/free-photo/3d-render-low-poly-design-abstract-blur-background_1048-12681.jpg?size=626&ext=jpg&ga=GA1.1.619501260.1701902679&semt=ais");
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100vw;
    padding: 3rem;

}



/*PROJECT SECTION*/
#Projects {
    padding-top: 5rem;
    padding-bottom: 5rem;

}

