body {
    text-align: center
}

/*////////////////MOBILE DESIGNE///////////////////*/

/*COVER PAGE*/
#Home {
    background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    height: 90vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

/*ABOUT PAGE*/
#About {
    padding-left: 2.5rem;
    padding-right: 2.5rem;

}
/*PROJECT SECTION*/
#Projects {
    padding-top: 5rem;
    padding-bottom: 5rem;
    

}
.project-text {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

/*///////////DESKTOP VIEW//////////////////*/


